<div class="chat">
  <ul class="list">
    <li class="list-items">
      <div>
        <a [routerLink]="['../message']" [queryParams]="{id: 45}">
          <img src="./assets/images/profile-default.png" alt="" class="rounded-circle">User 1
        </a>
      </div>
    </li>
    <li class="list-items">
      <div>
        <a [routerLink]="['../message']" [queryParams]="{id: 23}">
          <img src="./assets/images/profile-default.png" alt="" class="rounded-circle">User 1
        </a>
      </div>
    </li>

  </ul>
</div>