.dashboard-container {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 500px;
    padding: 5px;
    box-shadow: 0 0 0 10px hsl(0, 0%, 80%), 0 0 0 15px hsl(0, 0%, 90%);
    .main {
        align-self: center;
    }
    .navbar {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}