<div class="request">
  <ul class="list">
    <li class="list-items">
      <div>
        <img src="./assets/images/profile-default.png" alt="" class="rounded-circle">User 1
      </div>
      <div><a>Accept</a></div>
    </li>
    <li class="list-items">
      <div>
        <img src="./assets/images/profile-default.png" alt="" class="rounded-circle">User 2</div>
      <div><a>Accept</a></div>
    </li>
    <li class="list-items">
      <div>
        <img src="./assets/images/profile-default.png" alt="" class="rounded-circle">User 3</div>
      <div><a>Accept</a></div>
    </li>
    <li class="list-items">
      <div>
        <img src="./assets/images/profile-default.png" alt="" class="rounded-circle">User 4</div>
      <div><a>Accept</a></div>
    </li>
    <li class="list-items">
      <div>
        <img src="./assets/images/profile-default.png" alt="" class="rounded-circle">User 5</div>
      <div><a>Accept</a></div>
    </li>
    <li class="list-items">
      <div>
        <img src="./assets/images/profile-default.png" alt="" class="rounded-circle">User 6</div>
      <div><a>Accept</a></div>
    </li>
  </ul>
</div>